[Unit]
Description=TWINS Demo Reset Service

[Service]
User=dedis
ExecStart=/home/dedis/twins-demo-reset/twins-demo-reset serve
Restart=always

[Install]
WantedBy=default.target
