[Unit]
Description=DOManager
PartOf=twins.target
ReloadPropagatedFrom=twins.target

[Service]
ExecStart=/home/dedis/odyssey/domanager/app/app -listen-addr localhost:8085
Type=exec
Restart=always
User=dedis
EnvironmentFile=/home/dedis/odyssey/variables
WorkingDirectory=/home/dedis/odyssey/domanager/app

[Install]
WantedBy=twins.target
