[Unit]
Description=Glowing Bear

[Service]
ExecStart=/usr/bin/java -server -jar -Dspring.config.location=/home/dedis/gb-backend/gb-backend/config.yml /home/dedis/gb-backend/gb-backend/build/libs/gb-backend-0.1-SNAPSHOT.war
Type=exec
Restart=always

[Install]
WantedBy=multi-user.target
