[Unit]
Description=Indy VDR Proxy
PartOf=twins.target
ReloadPropagatedFrom=twins.target

[Service]
ExecStart=/home/dedis/indy-vdr/target/release/indy-vdr-proxy -g /home/dedis/indy-vdr/von.txn -p 4001
Type=exec
Restart=always
User=dedis

[Install]
WantedBy=twins.target
