[Unit]
Description=Mediator Agent

[Service]
ExecStart=/usr/bin/dotnet run --project /home/dedis/aries-mediator/MediatorAgent
Type=exec
Restart=always

[Install]
WantedBy=multi-user.target
