[Unit]
Description=Cothority (Odyssey)

[Service]
ExecStart=/home/dedis/odyssey/ledger/conode/run_nodes.sh -d /home/dedis/conode_data -v 2 -n 5
Type=exec
Restart=always
EnvironmentFile=/home/dedis/odyssey/variables

[Install]
WantedBy=multi-user.target
