[Unit]
Description=DOManager

[Service]
ExecStart=/home/dedis/odyssey/domanager/app/app -listen-addr localhost:8085
Type=exec
Restart=always
EnvironmentFile=/home/dedis/odyssey/variables
WorkingDirectory=/home/dedis/odyssey/domanager/app

[Install]
WantedBy=multi-user.target
