[Unit]
Description=Indy VDR Proxy
PartOf=twins.target

[Service]
ExecStart=/home/dedis/indy-vdr/target/release/indy-vdr-proxy -g /home/dedis/indy-vdr/von.txn -p 4001
Type=exec
Restart=always

[Install]
WantedBy=multi-user.target
