[Unit]
Description=Keycloak

[Service]
ExecStart=/home/dedis/keycloak/keycloak-9.0.3/bin/standalone.sh -Dkeycloak.frontendUrl=https://auth.twins-project.org/
Type=exec
Restart=always

[Install]
WantedBy=multi-user.target
