[Unit]
Description=Minio

[Service]
ExecStart=/home/dedis/minio/bin/minio server --address localhost:8084 /home/dedis/minio/data
Type=exec
Restart=always
EnvironmentFile=/home/dedis/odyssey/variables

[Install]
WantedBy=multi-user.target
