[Unit]
Description=TWINS Demo Reset Service

[Service]
ExecStart=/opt/twins/bin/twins-demo-reset serve
Restart=always

[Install]
WantedBy=default.target
